# TASK 1:

In [94]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

from sklearn.linear_model import LinearRegression,Ridge,ElasticNet,Lasso
from sklearn.metrics import mean_squared_error,mean_absolute_error,accuracy_score,r2_score

from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.decomposition import PCA

from statsmodels.tsa.stattools import adfuller
from pylab import rcParams
import statsmodels.api as sm
from statsmodels.tsa.arima_model import ARIMA

from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler

from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout
from keras.wrappers.scikit_learn import KerasRegressor
from sklearn.model_selection import GridSearchCV

In [95]:
test_val= pd.read_csv("D://M_AI//AI Capstone//Retail//test_data_hidden.csv")
test_val.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [96]:
test= pd.read_csv("D://M_AI//AI Capstone//Retail//test_data.csv")
test.head()

   Store  DayOfWeek        Date  Open  Promo  StateHoliday  SchoolHoliday
0      1          5  2015-07-31     1      1             0              1
1      2          5  2015-07-31     1      1             0              1
2      3          5  2015-07-31     1      1             0              1
3      4          5  2015-07-31     1      1             0              1
4      5          5  2015-07-31     1      1             0              1

In [97]:
test.isna().sum()

Store            0
DayOfWeek        0
Date             0
Open             0
Promo            0
StateHoliday     0
SchoolHoliday    0
dtype: int64

In [98]:
test.DayOfWeek.value_counts()

5    5575
4    5575
3    5575
7    4460
6    4460
2    4460
1    4460
Name: DayOfWeek, dtype: int64

In [99]:
test.Open.value_counts()

1    30188
0     4377
Name: Open, dtype: int64

In [100]:
test.Promo.value_counts()

0    20070
1    14495
Name: Promo, dtype: int64

In [101]:
test.StateHoliday.value_counts()

0    34565
Name: StateHoliday, dtype: int64

In [102]:
test.SchoolHoliday.value_counts()

0    21788
1    12777
Name: SchoolHoliday, dtype: int64

In [103]:
train = pd.read_csv("D://M_AI//AI Capstone//Retail//train_data.csv")
train.head()

C:\Users\User\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,2,2015-06-30,5735,568,1,1,0,0
1,2,2,2015-06-30,9863,877,1,1,0,0
2,3,2,2015-06-30,13261,1072,1,1,0,1
3,4,2,2015-06-30,13106,1488,1,1,0,0
4,5,2,2015-06-30,6635,645,1,1,0,0

In [104]:
train_1 = train.copy()
test_val_1 = test_val.copy()
test_1 = test.copy()

train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 982644 entries, 0 to 982643
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Store          982644 non-null  int64
 1   DayOfWeek      982644 non-null  int64
 2   Date           982644 non-null  object
 3   Sales          982644 non-null  int64
 4   Customers      982644 non-null  int64
 5   Open           982644 non-null  int64
 6   Promo          982644 non-null  int64
 7   StateHoliday   982644 non-null  object
 8   SchoolHoliday  982644 non-null  int64
dtypes: int64(7), object(2)
memory usage: 67.5+ MB

In [105]:
train.isna().sum()

Store            0
DayOfWeek        0
Date             0
Sales            0
Customers        0
Open             0
Promo            0
StateHoliday     0
SchoolHoliday    0
dtype: int64

In [106]:
train.DayOfWeek.value_counts()

2    141204
7    140270
6    140270
5    140270
4    140270
1    140270
3    140090
Name: DayOfWeek, dtype: int64

In [107]:
train.Open.value_counts()

1    814204
0    168440
Name: Open, dtype: int64

In [108]:
train.Promo.value_counts()

0    609059
1    373585
Name: Promo, dtype: int64

In [109]:
train.StateHoliday.unique()

array(['0', 'a', 'b', 'c', 0], dtype=object)

In [110]:
train.SchoolHoliday.value_counts()

0    813700
1    168944
Name: SchoolHoliday, dtype: int64

In [111]:
train.Date.unique()

array(['2015-06-30', '2015-06-29', '2015-06-28', '2015-06-27',
       '2015-06-26', '2015-06-25', '2015-06-24', '2015-06-23',
       '2015-06-22', '2015-06-21', '2015-06-20', '2015-06-19',
       '2015-06-18', '2015-06-17', '2015-06-16', '2015-06-15',
       '2015-06-14', '2015-06-13', '2015-06-12', '2015-06-11',
       '2015-06-10', '2015-06-09', '2015-06-08', '2015-06-07',
       '2015-06-06', '2015-06-05', '2015-06-04', '2015-06-03',
       '2015-06-02', '2015-06-01', '2015-05-31', '2015-05-30',
       '2015-05-29', '2015-05-28', '2015-05-27', '2015-05-26',
       '2015-05-25', '2015-05-24', '2015-05-23', '2015-05-22',
       '2015-05-21', '2015-05-20', '2015-05-19', '2015-05-18',
       '2015-05-17', '2015-05-16', '2015-05-15', '2015-05-14',
       '2015-05-13', '2015-05-12', '2015-05-11', '2015-05-10',
       '2015-05-09', '2015-05-08', '2015-05-07', '2015-05-06',
       '2015-05-05', '2015-05-04', '2015-05-03', '2015-05-02',
       '2015-05-01', '2015-04-30', '2015-04-29', '2015-04-28',
       '2015-04-27', '2015-04-26', '2015-04-25', '2015-04-24',
       '2015-04-23', '2015-04-22', '2015-04-21', '2015-04-20',
       '2015-04-19', '2015-04-18', '2015-04-17', '2015-04-16',
       '2015-04-15', '2015-04-14', '2015-04-13', '2015-04-12',
       '2015-04-11', '2015-04-10', '2015-04-09', '2015-04-08',
       '2015-04-07', '2015-04-06', '2015-04-05', '2015-04-04',
       '2015-04-03', '2015-04-02', '2015-04-01', '2015-03-31',
       '2015-03-30', '2015-03-29', '2015-03-28', '2015-03-27',
       '2015-03-26', '2015-03-25', '2015-03-24', '2015-03-23',
       '2015-03-22', '2015-03-21', '2015-03-20', '2015-03-19',
       '2015-03-18', '2015-03-17', '2015-03-16', '2015-03-15',
       '2015-03-14', '2015-03-13', '2015-03-12', '2015-03-11',
       '2015-03-10', '2015-03-09', '2015-03-08', '2015-03-07',
       '2015-03-06', '2015-03-05', '2015-03-04', '2015-03-03',
       '2015-03-02', '2015-03-01', '2015-02-28', '2015-02-27',
       '2015-02-26', '2015-02-25', '2015-02-24', '2015-02-23',
       '2015-02-22', '2015-02-21', '2015-02-20', '2015-02-19',
       '2015-02-18', '2015-02-17', '2015-02-16', '2015-02-15',
       '2015-02-14', '2015-02-13', '2015-02-12', '2015-02-11',
       '2015-02-10', '2015-02-09', '2015-02-08', '2015-02-07',
       '2015-02-06', '2015-02-05', '2015-02-04', '2015-02-03',
       '2015-02-02', '2015-02-01', '2015-01-31', '2015-01-30',
       '2015-01-29', '2015-01-28', '2015-01-27', '2015-01-26',
       '2015-01-25', '2015-01-24', '2015-01-23', '2015-01-22',
       '2015-01-21', '2015-01-20', '2015-01-19', '2015-01-18',
       '2015-01-17', '2015-01-16', '2015-01-15', '2015-01-14',
       '2015-01-13', '2015-01-12', '2015-01-11', '2015-01-10',
       '2015-01-09', '2015-01-08', '2015-01-07', '2015-01-06',
       '2015-01-05', '2015-01-04', '2015-01-03', '2015-01-02',
       '2015-01-01', '2014-12-31', '2014-12-30', '2014-12-29',
       '2014-12-28', '2014-12-27', '2014-12-26', '2014-12-25',
       '2014-12-24', '2014-12-23', '2014-12-22', '2014-12-21',
       '2014-12-20', '2014-12-19', '2014-12-18', '2014-12-17',
       '2014-12-16', '2014-12-15', '2014-12-14', '2014-12-13',
       '2014-12-12', '2014-12-11', '2014-12-10', '2014-12-09',
       '2014-12-08', '2014-12-07', '2014-12-06', '2014-12-05',
       '2014-12-04', '2014-12-03', '2014-12-02', '2014-12-01',
       '2014-11-30', '2014-11-29', '2014-11-28', '2014-11-27',
       '2014-11-26', '2014-11-25', '2014-11-24', '2014-11-23',
       '2014-11-22', '2014-11-21', '2014-11-20', '2014-11-19',
       '2014-11-18', '2014-11-17', '2014-11-16', '2014-11-15',
       '2014-11-14', '2014-11-13', '2014-11-12', '2014-11-11',
       '2014-11-10', '2014-11-09', '2014-11-08', '2014-11-07',
       '2014-11-06', '2014-11-05', '2014-11-04', '2014-11-03',
       '2014-11-02', '2014-11-01', '2014-10-31', '2014-10-30',
       '2014-10-29', '2014-10-28', '2014-10-27', '2014-10-26',
       '2014-10-25', '2014-10-24', '2014-10-23', '2014-10-22',
       '2014-10-21', '2014-10-20', '2014-10-19', '2014-10-18',
       '2014-10-17', '2014-10-16', '2014-10-15', '2014-10-14',
       '2014-10-13', '2014-10-12', '2014-10-11', '2014-10-10',
       '2014-10-09', '2014-10-08', '2014-10-07', '2014-10-06',
       '2014-10-05', '2014-10-04', '2014-10-03', '2014-10-02',
       '2014-10-01', '2014-09-30', '2014-09-29', '2014-09-28',
       '2014-09-27', '2014-09-26', '2014-09-25', '2014-09-24',
       '2014-09-23', '2014-09-22', '2014-09-21', '2014-09-20',
       '2014-09-19', '2014-09-18', '2014-09-17', '2014-09-16',
       '2014-09-15', '2014-09-14', '2014-09-13', '2014-09-12',
       '2014-09-11', '2014-09-10', '2014-09-09', '2014-09-08',
       '2014-09-07', '2014-09-06', '2014-09-05', '2014-09-04',
       '2014-09-03', '2014-09-02', '2014-09-01', '2014-08-31',
       '2014-08-30', '2014-08-29', '2014-08-28', '2014-08-27',
       '2014-08-26', '2014-08-25', '2014-08-24', '2014-08-23',
       '2014-08-22', '2014-08-21', '2014-08-20', '2014-08-19',
       '2014-08-18', '2014-08-17', '2014-08-16', '2014-08-15',
       '2014-08-14', '2014-08-13', '2014-08-12', '2014-08-11',
       '2014-08-10', '2014-08-09', '2014-08-08', '2014-08-07',
       '2014-08-06', '2014-08-05', '2014-08-04', '2014-08-03',
       '2014-08-02', '2014-08-01', '2014-07-31', '2014-07-30',
       '2014-07-29', '2014-07-28', '2014-07-27', '2014-07-26',
       '2014-07-25', '2014-07-24', '2014-07-23', '2014-07-22',
       '2014-07-21', '2014-07-20', '2014-07-19', '2014-07-18',
       '2014-07-17', '2014-07-16', '2014-07-15', '2014-07-14',
       '2014-07-13', '2014-07-12', '2014-07-11', '2014-07-10',
       '2014-07-09', '2014-07-08', '2014-07-07', '2014-07-06',
       '2014-07-05', '2014-07-04', '2014-07-03', '2014-07-02',
       '2014-07-01', '2014-06-30', '2014-06-29', '2014-06-28',
       '2014-06-27', '2014-06-26', '2014-06-25', '2014-06-24',
       '2014-06-23', '2014-06-22', '2014-06-21', '2014-06-20',
       '2014-06-19', '2014-06-18', '2014-06-17', '2014-06-16',
       '2014-06-15', '2014-06-14', '2014-06-13', '2014-06-12',
       '2014-06-11', '2014-06-10', '2014-06-09', '2014-06-08',
       '2014-06-07', '2014-06-06', '2014-06-05', '2014-06-04',
       '2014-06-03', '2014-06-02', '2014-06-01', '2014-05-31',
       '2014-05-30', '2014-05-29', '2014-05-28', '2014-05-27',
       '2014-05-26', '2014-05-25', '2014-05-24', '2014-05-23',
       '2014-05-22', '2014-05-21', '2014-05-20', '2014-05-19',
       '2014-05-18', '2014-05-17', '2014-05-16', '2014-05-15',
       '2014-05-14', '2014-05-13', '2014-05-12', '2014-05-11',
       '2014-05-10', '2014-05-09', '2014-05-08', '2014-05-07',
       '2014-05-06', '2014-05-05', '2014-05-04', '2014-05-03',
       '2014-05-02', '2014-05-01', '2014-04-30', '2014-04-29',
       '2014-04-28', '2014-04-27', '2014-04-26', '2014-04-25',
       '2014-04-24', '2014-04-23', '2014-04-22', '2014-04-21',
       '2014-04-20', '2014-04-19', '2014-04-18', '2014-04-17',
       '2014-04-16', '2014-04-15', '2014-04-14', '2014-04-13',
       '2014-04-12', '2014-04-11', '2014-04-10', '2014-04-09',
       '2014-04-08', '2014-04-07', '2014-04-06', '2014-04-05',
       '2014-04-04', '2014-04-03', '2014-04-02', '2014-04-01',
       '2014-03-31', '2014-03-30', '2014-03-29', '2014-03-28',
       '2014-03-27', '2014-03-26', '2014-03-25', '2014-03-24',
       '2014-03-23', '2014-03-22', '2014-03-21', '2014-03-20',
       '2014-03-19', '2014-03-18', '2014-03-17', '2014-03-16',
       '2014-03-15', '2014-03-14', '2014-03-13', '2014-03-12',
       '2014-03-11', '2014-03-10', '2014-03-09', '2014-03-08',
       '2014-03-07', '2014-03-06', '2014-03-05', '2014-03-04',
       '2014-03-03', '2014-03-02', '2014-03-01', '2014-02-28',
       '2014-02-27', '2014-02-26', '2014-02-25', '2014-02-24',
       '2014-02-23', '2014-02-22', '2014-02-21', '2014-02-20',
       '2014-02-19', '2014-02-18', '2014-02-17', '2014-02-16',
       '2014-02-15', '2014-02-14', '2014-02-13', '2014-02-12',
       '2014-02-11', '2014-02-10', '2014-02-09', '2014-02-08',
       '2014-02-07', '2014-02-06', '2014-02-05', '2014-02-04',
       '2014-02-03', '2014-02-02', '2014-02-01', '2014-01-31',
       '2014-01-30', '2014-01-29', '2014-01-28', '2014-01-27',
       '2014-01-26', '2014-01-25', '2014-01-24', '2014-01-23',
       '2014-01-22', '2014-01-21', '2014-01-20', '2014-01-19',
       '2014-01-18', '2014-01-17', '2014-01-16', '2014-01-15',
       '2014-01-14', '2014-01-13', '2014-01-12', '2014-01-11',
       '2014-01-10', '2014-01-09', '2014-01-08', '2014-01-07',
       '2014-01-06', '2014-01-05', '2014-01-04', '2014-01-03',
       '2014-01-02', '2014-01-01', '2013-12-31', '2013-12-30',
       '2013-12-29', '2013-12-28', '2013-12-27', '2013-12-26',
       '2013-12-25', '2013-12-24', '2013-12-23', '2013-12-22',
       '2013-12-21', '2013-12-20', '2013-12-19', '2013-12-18',
       '2013-12-17', '2013-12-16', '2013-12-15', '2013-12-14',
       '2013-12-13', '2013-12-12', '2013-12-11', '2013-12-10',
       '2013-12-09', '2013-12-08', '2013-12-07', '2013-12-06',
       '2013-12-05', '2013-12-04', '2013-12-03', '2013-12-02',
       '2013-12-01', '2013-11-30', '2013-11-29', '2013-11-28',
       '2013-11-27', '2013-11-26', '2013-11-25', '2013-11-24',
       '2013-11-23', '2013-11-22', '2013-11-21', '2013-11-20',
       '2013-11-19', '2013-11-18', '2013-11-17', '2013-11-16',
       '2013-11-15', '2013-11-14', '2013-11-13', '2013-11-12',
       '2013-11-11', '2013-11-10', '2013-11-09', '2013-11-08',
       '2013-11-07', '2013-11-06', '2013-11-05', '2013-11-04',
       '2013-11-03', '2013-11-02', '2013-11-01', '2013-10-31',
       '2013-10-30', '2013-10-29', '2013-10-28', '2013-10-27',
       '2013-10-26', '2013-10-25', '2013-10-24', '2013-10-23',
       '2013-10-22', '2013-10-21', '2013-10-20', '2013-10-19',
       '2013-10-18', '2013-10-17', '2013-10-16', '2013-10-15',
       '2013-10-14', '2013-10-13', '2013-10-12', '2013-10-11',
       '2013-10-10', '2013-10-09', '2013-10-08', '2013-10-07',
       '2013-10-06', '2013-10-05', '2013-10-04', '2013-10-03',
       '2013-10-02', '2013-10-01', '2013-09-30', '2013-09-29',
       '2013-09-28', '2013-09-27', '2013-09-26', '2013-09-25',
       '2013-09-24', '2013-09-23', '2013-09-22', '2013-09-21',
       '2013-09-20', '2013-09-19', '2013-09-18', '2013-09-17',
       '2013-09-16', '2013-09-15', '2013-09-14', '2013-09-13',
       '2013-09-12', '2013-09-11', '2013-09-10', '2013-09-09',
       '2013-09-08', '2013-09-07', '2013-09-06', '2013-09-05',
       '2013-09-04', '2013-09-03', '2013-09-02', '2013-09-01',
       '2013-08-31', '2013-08-30', '2013-08-29', '2013-08-28',
       '2013-08-27', '2013-08-26', '2013-08-25', '2013-08-24',
       '2013-08-23', '2013-08-22', '2013-08-21', '2013-08-20',
       '2013-08-19', '2013-08-18', '2013-08-17', '2013-08-16',
       '2013-08-15', '2013-08-14', '2013-08-13', '2013-08-12',
       '2013-08-11', '2013-08-10', '2013-08-09', '2013-08-08',
       '2013-08-07', '2013-08-06', '2013-08-05', '2013-08-04',
       '2013-08-03', '2013-08-02', '2013-08-01', '2013-07-31',
       '2013-07-30', '2013-07-29', '2013-07-28', '2013-07-27',
       '2013-07-26', '2013-07-25', '2013-07-24', '2013-07-23',
       '2013-07-22', '2013-07-21', '2013-07-20', '2013-07-19',
       '2013-07-18', '2013-07-17', '2013-07-16', '2013-07-15',
       '2013-07-14', '2013-07-13', '2013-07-12', '2013-07-11',
       '2013-07-10', '2013-07-09', '2013-07-08', '2013-07-07',
       '2013-07-06', '2013-07-05', '2013-07-04', '2013-07-03',
       '2013-07-02', '2013-07-01', '2013-06-30', '2013-06-29',
       '2013-06-28', '2013-06-27', '2013-06-26', '2013-06-25',
       '2013-06-24', '2013-06-23', '2013-06-22', '2013-06-21',
       '2013-06-20', '2013-06-19', '2013-06-18', '2013-06-17',
       '2013-06-16', '2013-06-15', '2013-06-14', '2013-06-13',
       '2013-06-12', '2013-06-11', '2013-06-10', '2013-06-09',
       '2013-06-08', '2013-06-07', '2013-06-06', '2013-06-05',
       '2013-06-04', '2013-06-03', '2013-06-02', '2013-06-01',
       '2013-05-31', '2013-05-30', '2013-05-29', '2013-05-28',
       '2013-05-27', '2013-05-26', '2013-05-25', '2013-05-24',
       '2013-05-23', '2013-05-22', '2013-05-21', '2013-05-20',
       '2013-05-19', '2013-05-18', '2013-05-17', '2013-05-16',
       '2013-05-15', '2013-05-14', '2013-05-13', '2013-05-12',
       '2013-05-11', '2013-05-10', '2013-05-09', '2013-05-08',
       '2013-05-07', '2013-05-06', '2013-05-05', '2013-05-04',
       '2013-05-03', '2013-05-02', '2013-05-01', '2013-04-30',
       '2013-04-29', '2013-04-28', '2013-04-27', '2013-04-26',
       '2013-04-25', '2013-04-24', '2013-04-23', '2013-04-22',
       '2013-04-21', '2013-04-20', '2013-04-19', '2013-04-18',
       '2013-04-17', '2013-04-16', '2013-04-15', '2013-04-14',
       '2013-04-13', '2013-04-12', '2013-04-11', '2013-04-10',
       '2013-04-09', '2013-04-08', '2013-04-07', '2013-04-06',
       '2013-04-05', '2013-04-04', '2013-04-03', '2013-04-02',
       '2013-04-01', '2013-03-31', '2013-03-30', '2013-03-29',
       '2013-03-28', '2013-03-27', '2013-03-26', '2013-03-25',
       '2013-03-24', '2013-03-23', '2013-03-22', '2013-03-21',
       '2013-03-20', '2013-03-19', '2013-03-18', '2013-03-17',
       '2013-03-16', '2013-03-15', '2013-03-14', '2013-03-13',
       '2013-03-12', '2013-03-11', '2013-03-10', '2013-03-09',
       '2013-03-08', '2013-03-07', '2013-03-06', '2013-03-05',
       '2013-03-04', '2013-03-03', '2013-03-02', '2013-03-01',
       '2013-02-28', '2013-02-27', '2013-02-26', '2013-02-25',
       '2013-02-24', '2013-02-23', '2013-02-22', '2013-02-21',
       '2013-02-20', '2013-02-19', '2013-02-18', '2013-02-17',
       '2013-02-16', '2013-02-15', '2013-02-14', '2013-02-13',
       '2013-02-12', '2013-02-11', '2013-02-10', '2013-02-09',
       '2013-02-08', '2013-02-07', '2013-02-06', '2013-02-05',
       '2013-02-04', '2013-02-03', '2013-02-02', '2013-02-01',
       '2013-01-31', '2013-01-30', '2013-01-29', '2013-01-28',
       '2013-01-27', '2013-01-26', '2013-01-25', '2013-01-24',
       '2013-01-23', '2013-01-22', '2013-01-21', '2013-01-20',
       '2013-01-19', '2013-01-18', '2013-01-17', '2013-01-16',
       '2013-01-15', '2013-01-14', '2013-01-13', '2013-01-12',
       '2013-01-11', '2013-01-10', '2013-01-09', '2013-01-08',
       '2013-01-07', '2013-01-06', '2013-01-05', '2013-01-04',
       '2013-01-03', '2013-01-02', '2013-01-01'], dtype=object)

In [112]:
train.shape,test_val.shape,test.shape

((982644, 9), (34565, 9), (34565, 7))

In [113]:
train.corr()['Sales']

Store            0.005338
DayOfWeek       -0.461249
Sales            1.000000
Customers        0.895700
Open             0.679248
Promo            0.451383
SchoolHoliday    0.076141
Name: Sales, dtype: float64

In [114]:
test_val.sort_values(['Store'],inplace=True)
test.sort_values(['Store'],inplace=True)
combi = train.append(test_val , ignore_index=True)
print(combi.shape)
combi =combi.append(test , ignore_index=True)
print(combi.shape)
combi['year']=pd.to_datetime(combi['Date'],format='%Y-%m-%d').dt.year 
combi['month']=pd.to_datetime(combi['Date'],format='%Y-%m-%d').dt.month 
combi['day']=pd.to_datetime(combi['Date'],format='%Y-%m-%d').dt.day
combi['year'] = combi.year.replace({2013 : 0, 2014 : 1 , 2015 : 2 })
combi['StateHoliday'] = combi.StateHoliday.replace({'0' : 0, 'a' : 1 , 'b' : 2 ,'c' : 3})
combi.head()

(1017209, 9)
(1051774, 9)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,year,month,day
0,1,2,2015-06-30,5735.0,568.0,1,1,0,0,2,6,30
1,2,2,2015-06-30,9863.0,877.0,1,1,0,0,2,6,30
2,3,2,2015-06-30,13261.0,1072.0,1,1,0,1,2,6,30
3,4,2,2015-06-30,13106.0,1488.0,1,1,0,0,2,6,30
4,5,2,2015-06-30,6635.0,645.0,1,1,0,0,2,6,30

In [115]:
combi1= pd.get_dummies(combi,columns=['DayOfWeek', 'Open', 'Promo','StateHoliday', 'SchoolHoliday',
                                      'year','Store','day','month'],drop_first=True)

# combi1=pd.read_csv('combi1.csv')
# combi1.drop(['Unnamed: 0'],axis=True,inplace=True)

combi1.head()

,Date,Sales,Customers,DayOfWeek_2,DayOfWeek_3,DayOfWeek_4,DayOfWeek_5,DayOfWeek_6,DayOfWeek_7,Open_1,...,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12
0,2015-06-30,5735.0,568.0,1,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
1,2015-06-30,9863.0,877.0,1,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
2,2015-06-30,13261.0,1072.0,1,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
3,2015-06-30,13106.0,1488.0,1,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
4,2015-06-30,6635.0,645.0,1,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0

In [116]:
train1 = combi1.iloc[:982644].reset_index(drop=True)
test_val1 = combi1.iloc[982644:1017209].reset_index(drop=True)
test1 = combi1.iloc[1017209:].reset_index(drop=True)
train1.shape,test_val1.shape,test1.shape

((982644, 1172), (34565, 1172), (34565, 1172))

In [117]:
combi2= pd.get_dummies(combi,columns=['DayOfWeek', 'Open', 'Promo','StateHoliday',
                                      'SchoolHoliday', 'year','day','month'],drop_first=True)
combi2.head()

,Store,Date,Sales,Customers,DayOfWeek_2,DayOfWeek_3,DayOfWeek_4,DayOfWeek_5,DayOfWeek_6,DayOfWeek_7,...,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12
0,1,2015-06-30,5735.0,568.0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,2,2015-06-30,9863.0,877.0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,3,2015-06-30,13261.0,1072.0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,4,2015-06-30,13106.0,1488.0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,5,2015-06-30,6635.0,645.0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [118]:
train2 = combi2.iloc[:982644].reset_index(drop=True)
test_val2 = combi2.iloc[982644:1017209].reset_index(drop=True)
test2 = combi2.iloc[1017209:].reset_index(drop=True)
train2.shape,test_val2.shape,test2.shape

((982644, 59), (34565, 59), (34565, 59))

In [119]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
x=train._get_numeric_data()
vif=pd.DataFrame()
vif["VIF"]=[variance_inflation_factor(x.values,i) for i in range(x.shape[1])]
vif["features"]=x.columns
vif

         VIF       features
0   3.541150          Store
1   2.773128      DayOfWeek
2  21.956526          Sales
3  15.190168      Customers
4   8.210847           Open
5   2.154974          Promo
6   1.207436  SchoolHoliday

In [123]:
#Linear Regression with STORE as feature

Y_train = train1['Sales']
Y_val = test_val1['Sales']

X_train = train1.drop(['Sales','Date','Customers'],axis=1).values
X_val = test_val1.drop(['Sales','Date','Customers'],axis=1).values
lr_1 = LinearRegression()
lr_1.fit(X_train,Y_train)
Y_pred1 = lr_1.predict(X_val)

print('MSE',np.sqrt(mean_squared_error(Y_pred1,Y_val)))
print('MAE',mean_absolute_error(Y_pred1,Y_val))
print('train model score',lr_1.score(X_train,Y_train))
print('test model score',lr_1.score(X_val,Y_val))

MemoryError: Unable to allocate 1.07 GiB for an array with shape (1169, 982644) and data type uint8

In [124]:
#Linear Regression without STORE as feature

X_train1 = train2.drop(['Sales','Date','Customers'],axis=1).values
X_val1 = test_val2.drop(['Sales','Date','Customers'],axis=1).values
lr_2 = LinearRegression()
lr_2.fit(X_train1,Y_train)
Y_pred2 = lr_2.predict(X_val1)

print('MSE',np.sqrt(mean_squared_error(Y_pred2,Y_val)))
print('MAE',mean_absolute_error(Y_pred2,Y_val))
print('train model score',lr_2.score(X_train1,Y_train))
print('test model score',lr_2.score(X_val1,Y_val))

MSE 2520.0716734481693
MAE 1731.7047379516332
train model score 0.5646267338030363
test model score 0.5116840301951011

In [ ]:
#Linear Regression - Separate model for each STORE

Y_pred3=np.zeros(test_val.shape[0])

train_store = train2.groupby(['Store'])
test_store = test_val2.groupby(['Store'])

for i in range(1,1116):
    a = train_store.get_group(i)
    b = test_store.get_group(i)
    X_train = a.drop(['Sales','Date','Store','Customers'],axis=1).values
    X_val = b.drop(['Sales','Date','Store','Customers'],axis=1).values
    Y_train = a['Sales']
    #Y_val = b['Sales']
    lr = LinearRegression()
    lr.fit(X_train,Y_train)
    pred = lr.predict(X_val)
    i=0
    for j in b.index:
        Y_pred3[j]=pred[i]
        i+=1
print('MSE',np.sqrt(mean_squared_error(Y_pred3,Y_val)))
print('MAE',mean_absolute_error(Y_pred3,Y_val))

In [ ]:
#Average Ensemble Model of first and second model

final_pred=(Y_pred1+Y_pred2)/2
print('MSE',np.sqrt(mean_squared_error(final_pred,Y_val)))
print('MAE',mean_absolute_error(final_pred,Y_val))

In [ ]:
#Weighted Average Ensemble Model of first and second model

final_pred=Y_pred1*0.7+Y_pred2*0.3
print('MSE',np.sqrt(mean_squared_error(final_pred,Y_val)))
print('MAE',mean_absolute_error(final_pred,Y_val))

In [ ]:
#Regularization of 1st Model

X_train = train1.drop(['Sales','Date','Customers'],axis=1).values
X_val = test_val1.drop(['Sales','Date','Customers'],axis=1).values
rr =Ridge(alpha=10)
rr.fit(X_train,Y_train)
Y_pred1 = rr.predict(X_val)
print('MSE',np.sqrt(mean_squared_error(Y_pred1,Y_val)))
print('MAE',mean_absolute_error(Y_pred1,Y_val))
print('train model score',rr.score(X_train,Y_train))
print('test model score',rr.score(X_val,Y_val))

# TASK 2:

In [ ]:
train=train[train.Open==1]
shape1=train.shape[0]
print(train.shape[0])
combi = train.append(test_val , ignore_index=True,sort=False)
shape2=combi.shape[0]
print(combi.shape)
combi =combi.append(test , ignore_index=True,sort=False)
print(combi.shape)
combi['year']=pd.to_datetime(combi['Date'],format='%Y-%m-%d').dt.year 
combi['month']=pd.to_datetime(combi['Date'],format='%Y-%m-%d').dt.month 
combi['day']=pd.to_datetime(combi['Date'],format='%Y-%m-%d').dt.day
combi['year'] = combi.year.replace({2013 : 0, 2014 : 1 , 2015 : 2 })
combi['StateHoliday'] = combi.StateHoliday.replace({'0' : 0, 'a' : 1 , 'b' : 2 ,'c' : 3})
#with Store Id as features
combi1= pd.get_dummies(combi,columns=['DayOfWeek', 'Promo','StateHoliday', 'SchoolHoliday', 'year','Store','day','month'],drop_first=True)
#without Store Id as features
combi2= pd.get_dummies(combi,columns=['DayOfWeek', 'Promo','StateHoliday', 'SchoolHoliday', 'year','day','month'],drop_first=True)

print(train.shape,test_val.shape,test.shape)

train1 = combi1.iloc[:shape1].reset_index(drop=True)
test_val1 = combi1.iloc[shape1:shape2].reset_index(drop=True)
test1 = combi1.iloc[shape2:].reset_index(drop=True)
print(train1.shape,test_val1.shape,test1.shape)

train2 = combi2.iloc[:shape1].reset_index(drop=True)
test_val2 = combi2.iloc[shape1:shape2].reset_index(drop=True)
test2 = combi2.iloc[shape2:].reset_index(drop=True)
print(train2.shape,test_val2.shape,test2.shape)

In [ ]:
Y_train = train1['Sales']
Y_val = test_val1['Sales']

In [ ]:
#Model-1

X_train = train1.drop(['Sales','Date','Open','Customers'],axis=1).values
X_val = test_val1.drop(['Sales','Date','Open','Customers'],axis=1).values

lr = LinearRegression()
lr.fit(X_train,Y_train)
pred1 = lr.predict(X_val)

ind=test_val[test_val.Open==0].index
for i in ind:
    pred1[i] = 0
    
print('MSE',np.sqrt(mean_squared_error(pred1,Y_val)))
print('MAE',mean_absolute_error(pred1,Y_val))

In [ ]:
#Model-2

X_train1 = train2.drop(['Sales','Date','Open','Customers'],axis=1).values
X_val1 = test_val2.drop(['Sales','Date','Open','Customers'],axis=1).values

lr = LinearRegression()
lr.fit(X_train1,Y_train)
pred2 = lr.predict(X_val1)

ind=test_val[test_val.Open==0].index
for i in ind:
    pred2[i] = 0
    
print('MSE',np.sqrt(mean_squared_error(pred2,Y_val)))
print('MAE',mean_absolute_error(pred2,Y_val))

In [ ]:
#Model-3

pred3=np.zeros(test_val.shape[0])

train_store = train2.groupby(['Store'])
test_store = test_val2.groupby(['Store'])

for i in range(1,1116):
    a = train_store.get_group(i)
    b = test_store.get_group(i)
    X_train = a.drop(['Sales','Date','Store','Customers','Open'],axis=1).values
    X_val = b.drop(['Sales','Date','Store','Customers','Open'],axis=1).values
    Y_train = a['Sales']
    lr = LinearRegression()
    lr.fit(X_train,Y_train)
    pred = lr.predict(X_val)
    i=0
    ind=b[b['Open']==0].index
    for j in b.index:
        if(j in ind):
            pred3[j]=0
        else:
            pred3[j]=pred[i]
        i+=1
print('MSE',np.sqrt(mean_squared_error(pred3,Y_val)))
print('MAE',mean_absolute_error(pred3,Y_val))

In [ ]:
train_store = train2.groupby(['Store'])
test_store = test_val2.groupby(['Store'])

for i in range(1,1116):
    a = train_store.get_group(i)
    b = test_store.get_group(i)
    X_train = a.drop(['Sales','Date','Store','Customers','Open'],axis=1).values
    X_val = b.drop(['Sales','Date','Store','Customers','Open'],axis=1).values
    Y_train = a['Sales']
    lr = Ridge(alpha=20)
    lr.fit(X_train,Y_train)
    pred = lr.predict(X_val)
    i=0
    ind=b[b['Open']==0].index
    for j in b.index:
        if(j in ind):
            pred3[j]=0
        else:
            pred3[j]=pred[i]
        i+=1
print('MSE',np.sqrt(mean_squared_error(pred3,Y_val)))
print('MAE',mean_absolute_error(pred3,Y_val))

In [ ]:
#RANDOM FOREST CLASSIFIER
from sklearn.model_selection import train_test_split


X = train1.drop(['Sales','Date','Open','Customers'],axis=1).values
y = train1['Sales']

X1_train,X1_test,y1_train,y1_test = train_test_split(X,y,test_size=0.2,random_state=42)

#With Store as Feature


clf = RandomForestRegressor(n_estimators=500,max_features='sqrt',max_depth=6,random_state=0,n_jobs=7)
clf.fit(X1_train,y1_train)
pred1 = clf.predict(X1_test)

ind=test_val[test_val.Open==0].index
for i in ind:
    pred1[i] = 0
    
print('MSE',np.sqrt(mean_squared_error(pred1,y1_test)))
print('MAE',mean_absolute_error(pred1,y1_test))

In [ ]:
X1 = train2.drop(['Sales','Date','Open','Customers'],axis=1).values
y1 = train2['Sales']

X1_train,X1_test,y1_train,y1_test = train_test_split(X1,y1,test_size=0.2,random_state=42)

#Without Store as Feature

clf = RandomForestRegressor(n_estimators=500,max_features='sqrt',max_depth=6,random_state=0,n_jobs=7)
clf.fit(X1_train,y1_train)
pred1 = clf.predict(X1_test)

ind=test_val[test_val.Open==0].index
for i in ind:
    pred1[i] = 0
    
print('MSE',np.sqrt(mean_squared_error(pred1,y1_test)))
print('MAE',mean_absolute_error(pred1,y1_test))

In [ ]:
#XGB Classifier
from xgboost import XGBClassifier
X3 = train2.drop(['Sales','Date','Open','Customers'],axis=1).values
y3 = train2['Sales']

X3_train,X3_test,y3_train,y3_test = train_test_split(X3,y3,test_size=0.2,random_state=42)


clf = XGBRegressor()#n_estimators=500,max_features='sqrt',max_depth=6,random_state=0,n_jobs=7)
clf.fit(X3_train,y3_train)
pred1 = clf.predict(X3_test)

ind=test_val[test_val.Open==0].index
for i in ind:
    pred1[i] = 0
    
print('MSE',np.sqrt(mean_squared_error(pred1,y3_test)))
print('MAE',mean_absolute_error(pred1,y3_test))

In [ ]:
#Separate model for each Store
pred3=np.zeros(test_val.shape[0])

train_store = train2.groupby(['Store'])
test_store = test_val2.groupby(['Store'])

for i in range(1,1116):
    a = train_store.get_group(i)
    b = test_store.get_group(i)
    X_train = a.drop(['Sales','Date','Store','Customers','Open'],axis=1).values
    X_val = b.drop(['Sales','Date','Store','Customers','Open'],axis=1).values
    Y_train = a['Sales']
    clf = RandomForestRegressor(n_estimators=500,max_features='sqrt',max_depth=6,random_state=0,n_jobs=7)
    clf.fit(X_train,Y_train)
    pred = clf.predict(X_val)
    i=0
    ind=b[b['Open']==0].index
    for j in b.index:
        if(j in ind):
            pred3[j]=0
        else:
            pred3[j]=pred[i]
        i+=1
print('MSE',np.sqrt(mean_squared_error(pred3,Y_val)))
print('MAE',mean_absolute_error(pred3,Y_val))

In [ ]:
X_train = train1.drop(['Sales','Date','Open','Customers'],axis=1).values
X_val = test_val1.drop(['Sales','Date','Open','Customers'],axis=1).values
pca = PCA().fit(X_train)
#Plotting the Cumulative Summation of the Explained Variance
plt.figure()
plt.plot(np.cumsum(pca.explained_variance_ratio_))
plt.xlabel('Number of Components')
plt.ylabel('Variance (%)') #for each component
plt.title('Explained Variance')
plt.show()

In [ ]:
X_train = train1.drop(['Sales','Date','Open','Customers'],axis=1).values
X_val = test_val1.drop(['Sales','Date','Open','Customers'],axis=1).values
Y_train = train1['Sales']
Y_val = test_val1['Sales']

pca = PCA(n_components=50)  
X_train = pca.fit_transform(X_train)  
X_val= pca.transform(X_val) 

clf = RandomForestRegressor(n_estimators=500,max_features='sqrt',max_depth=6,random_state=0,n_jobs=7)
clf.fit(X_train,Y_train)
pred1 = clf.predict(X_val)

ind=test_val[test_val.Open==0].index
for i in ind:
    pred1[i] = 0
    
print('MSE',np.sqrt(mean_squared_error(pred1,Y_val)))
print('MAE',mean_absolute_error(pred1,Y_val))

In [ ]:
#Time Series Model

dateparse = lambda dates: pd.datetime.strptime(dates, '%Y-%m-%d')
Train = pd.read_csv("D://M_AI//AI Capstone//Retail//train_data.csv", parse_dates=['Date'], index_col='Date',date_parser=dateparse)
Test_val = pd.read_csv("D://M_AI//AI Capstone//Retail//test_data_hidden.csv", parse_dates=['Date'], index_col='Date',date_parser=dateparse)
Train=Train[['Store','Sales','Open','DayOfWeek']]
Test_val=Test_val[['Store','Sales','Open','DayOfWeek']]
print ('\n Parsed Data:')
Train.sort_values(['Date'],axis=0,inplace=True)
Test_val.sort_values(['Date'],axis=0,inplace=True)
print (Train.head())

In [ ]:
#Store 1
store1=Train[Train.Store==1]
test_store1=Test_val[Test_val.Store==1]
sns.boxplot(x="DayOfWeek", y="Sales", data=store1)

In [ ]:
rcParams['figure.figsize'] = 20,12
decomposition = sm.tsa.seasonal_decompose(store1['Sales'], model='additive',freq=420)
fig = decomposition.plot()
plt.show()

In [ ]:
def test_stationarity(timeseries):
    
    #Determing rolling statistics
    rolmean = timeseries.rolling(12).mean()
    rolstd = timeseries.rolling(12).std()
    
    #Plot rolling statistics:
    orig = plt.plot(timeseries, color='blue',label='Original')
    mean = plt.plot(rolmean, color='red', label='Rolling Mean')
    std = plt.plot(rolstd, color='black', label = 'Rolling Std')
    
    plt.legend(loc='best')
    plt.title('Rolling Mean & Standard Deviation')
    plt.show(block=False)
    
    #Perform Dickey-Fuller test:
    print('Results of Dickey-Fuller Test:')
    dftest = adfuller(timeseries, autolag='AIC')
    dfoutput = pd.Series(dftest[0:4], index=['Test Statistic','p-value','#Lags Used','Number of Observations Used'])
    for key,value in dftest[4].items():
        dfoutput['Critical Value (%s)'%key] = value
    print(dfoutput)

test_stationarity(store1['Sales'])

In [ ]:
first_diff = store1['Sales'] - store1['Sales'].shift(1)
first_diff = first_diff.dropna(inplace = False)
test_stationarity(first_diff)

In [ ]:
#AR model
ar_mod = ARIMA(store1.Sales, (9,1,0),freq='D')
res=ar_mod.fit(disp=False)
Y_pred = res.forecast(steps=31)[0]
print('MSE',np.sqrt(mean_squared_error(Y_pred,test_store1.Sales)))
print('MAE',mean_absolute_error(Y_pred,test_store1.Sales))

In [ ]:
#MA model
ma_mod = ARIMA(store1.Sales, (0,1,1),freq='D')
res=ma_mod.fit(disp=False)
Y_pred = res.forecast(steps=31)[0]
print('MSE',np.sqrt(mean_squared_error(Y_pred,test_store1.Sales)))
print('MAE',mean_absolute_error(Y_pred,test_store1.Sales))

# TASK 3:

In [ ]:
#LSTM for Store 1

train_store1 = store1.iloc[:, 1:2].values
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler(feature_range = (0, 1))
train_store1 = sc.fit_transform(train_store1)

X_train = []
Y_train = []
for i in range(30, 911):
    X_train.append(train_store1[i-30:i, 0])
    Y_train.append(train_store1[i, 0])
X_train, Y_train = np.array(X_train), np.array(Y_train)
# Reshaping
X_train = np.reshape(X_train, (X_train.shape[0], X_train.shape[1], 1))

In [ ]:
regressor = Sequential()
regressor.add(LSTM(units = 30, return_sequences = True, input_shape = (X_train.shape[1], 1)))
regressor.add(LSTM(units = 50, return_sequences = True))
regressor.add(LSTM(units = 70, return_sequences = True))
regressor.add(LSTM(units = 50))
regressor.add(Dense(units = 1))
regressor.compile(optimizer = 'adam', loss = 'mean_squared_error')
regressor.fit(X_train, Y_train, epochs = 100, batch_size = 64, shuffle=False)

In [ ]:
total_data = pd.concat((store1['Sales'], test_store1['Sales']), axis = 0)
inputs = total_data[len(total_data) - len(test_store1) - 30:].values
inputs = inputs.reshape(-1,1)
inputs = sc.transform(inputs)
X_test = []
for i in range(30, 61):
    X_test.append(inputs[i-30:i, 0])
X_test = np.array(X_test)
X_test = np.reshape(X_test, (X_test.shape[0], X_test.shape[1], 1))
pred = regressor.predict(X_test)
pred= sc.inverse_transform(pred)
print(np.sqrt(mean_squared_error(pred,test_store1.Sales)))
print(mean_absolute_error(pred,test_store1.Sales))

In [ ]:
plt.plot(test_store1.Sales, color = 'red', label = 'Actual Sales')
plt.plot(pred, color = 'blue', label = 'Predicted Sales')
plt.title('Sales Prediction')
plt.xlabel('Time')
plt.ylabel('Sale')
plt.legend()
plt.show()

# TASK 4:

In [ ]:
#Model-1
X_train = train2.drop(['Sales','Date','Customers'],axis=1).values
X_val = test_val2.drop(['Sales','Date','Customers'],axis=1).values
Y_train = pd.DataFrame(train2['Sales'])
Y_val = test_val2['Sales']
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler(feature_range = (0, 1))
Y_train = sc.fit_transform(Y_train)

model = Sequential()
model.add(Dense(100, activation='relu', input_dim = X_train.shape[1]))
model.add(Dropout(0.1))
model.add(Dense(64, activation='relu'))
model.add(Dense(50, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(1,activation='linear',kernel_initializer='normal') )
model.compile(optimizer='adam', loss='mean_squared_error')
model.fit(X_train, Y_train, epochs=10, batch_size=64,shuffle=False,verbose=0)
Y_pred = model.predict(X_val, batch_size=64,verbose=0)
Y_pred= sc.inverse_transform(Y_pred)
print('MSE',np.sqrt(mean_squared_error(Y_pred,Y_val)))
print('MAE',mean_absolute_error(Y_pred,Y_val))

In [ ]:
#Model-2
X1_train = train1.drop(['Sales','Date','Customers'],axis=1).values
X1_val = test_val1.drop(['Sales','Date','Customers'],axis=1).values
Y1_train = pd.DataFrame(train1['Sales'])
Y1_val = test_val1['Sales']
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler(feature_range = (0, 1))
Y1_train = sc.fit_transform(Y_train)

model2 = Sequential()
model2.add(Dense(100, activation='relu', input_dim = X_train.shape[1]))
#model.add(Dropout(0.1))
model2.add(Dense(64, activation='relu'))
model2.add(Dropout(0.2))
model2.add(Dense(1,activation='linear') )
model2.compile(optimizer='adam', loss='mean_squared_error')
model2.fit(X1_train, Y1_train, epochs=10, batch_size=64,shuffle=False,verbose=0)
Y1_pred = model2.predict(X_val, batch_size=64,verbose=0)
Y1_pred= sc.inverse_transform(Y_pred)

print('MSE',np.sqrt(mean_squared_error(Y1_pred,Y1_val)))
print('MAE',mean_absolute_error(Y1_pred,Y1_val))

In [ ]:
%load_ext tensorboard

In [ ]:
#Experiment with three hyperparameters in the model:

#Number of units in the first dense layer
#Dropout rate in the dropout layer
#Optimizer
import tensorflow as tf
from tensorboard.plugins.hparams import api as hp

HP_NUM_UNITS = hp.HParam('num_units', hp.Discrete([16, 32]))
HP_DROPOUT = hp.HParam('dropout', hp.RealInterval(0.1, 0.2))
HP_OPTIMIZER = hp.HParam('optimizer', hp.Discrete(['sgd','adam']))
#HP_OPTIMIZER = hp.HParam('optimizer', hp.Discrete([ 'sgd']))

METRIC_ACCURACY = 'accuracy'

with tf.summary.create_file_writer('logs/hparam_tuning').as_default():
    hp.hparams_config(
    hparams=[HP_NUM_UNITS, HP_DROPOUT, HP_OPTIMIZER],
    metrics=[hp.Metric(METRIC_ACCURACY, display_name='Accuracy')],
  )

In [ ]:
def train_test_model(hparams):
    model = tf.keras.models.Sequential([
     tf.keras.layers.Flatten(),
     tf.keras.layers.Dense(hparams[HP_NUM_UNITS], activation=tf.nn.relu),
     tf.keras.layers.Dropout(hparams[HP_DROPOUT]),
     tf.keras.layers.Dense(10, activation=tf.nn.softmax),
  ])
    model.compile(
      optimizer=hparams[HP_OPTIMIZER],
      loss='sparse_categorical_crossentropy',
      metrics=['accuracy'],
  )

    model.fit(X_train, Y_train, epochs=1) # Run with 1 epoch to speed things up for demo purposes
    _, accuracy = model.evaluate(X_val, Y_val)
    return accuracy

In [ ]:
def run(run_dir, hparams):
    with tf.summary.create_file_writer(run_dir).as_default():
        hp.hparams(hparams)  # record the values used in this trial
        accuracy = train_test_model(hparams)
        tf.summary.scalar(METRIC_ACCURACY, accuracy, step=1)

In [ ]:
session_num = 0

for num_units in HP_NUM_UNITS.domain.values:
    for dropout_rate in (HP_DROPOUT.domain.min_value, HP_DROPOUT.domain.max_value):
        for optimizer in HP_OPTIMIZER.domain.values:
             hparams = {
          HP_NUM_UNITS: num_units,
          HP_DROPOUT: dropout_rate,
          HP_OPTIMIZER: optimizer,
      }
        run_name = "run-%d" % session_num
        print('--- Starting trial: %s' % run_name)
        print({h.name: hparams[h] for h in hparams})
        run('logs/hparam_tuning/' + run_name, hparams)
        session_num += 1