In [28]:
import pandas as pd

ad_dataset = pd.read_csv('D:\\M_AI\\Data Science with Python\\Assignments\\ML\\1\\Advertising Budget and Sales.csv', index_col=0)
ad_dataset.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
1             230.1                 37.8                     69.2       22.1
2              44.5                 39.3                     45.1       10.4
3              17.2                 45.9                     69.3        9.3
4             151.5                 41.3                     58.5       18.5
5             180.8                 10.8                     58.4       12.9

In [29]:
ad_dataset.size

800

In [30]:
ad_dataset.shape

(200, 4)

In [31]:
ad_dataset.columns

Index(['TV Ad Budget ($)', 'Radio Ad Budget ($)', 'Newspaper Ad Budget ($)',
       'Sales ($)'],
      dtype='object')

In [32]:
# Analyzing the features
X_feature = ad_dataset[['TV Ad Budget ($)', 'Radio Ad Budget ($)', 'Newspaper Ad Budget ($)' ]]
X_feature.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)
1             230.1                 37.8                     69.2
2              44.5                 39.3                     45.1
3              17.2                 45.9                     69.3
4             151.5                 41.3                     58.5
5             180.8                 10.8                     58.4

In [33]:
# analyzing the target
Y_target = ad_dataset[['Sales ($)']]
Y_target.head()

   Sales ($)
1       22.1
2       10.4
3        9.3
4       18.5
5       12.9

In [34]:
# Splitting the data into training and testing data
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X_feature,Y_target,random_state=0)

In [35]:
#view the shape of train and test data
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(150, 3)
(50, 3)
(150, 1)
(50, 1)

In [36]:
# linear regregression estimator
from sklearn.linear_model import LinearRegression
lineReg = LinearRegression()
lineReg.fit(X_train,Y_train)

LinearRegression()

In [37]:
# intercept and coefficient
print('Estimated intercept is %.2f' %lineReg.intercept_)

print(lineReg.coef_)

Estimated intercept is 2.89
[[0.04416235 0.19900368 0.00116268]]

In [38]:
#prediction of sales outcome
y_pred = lineReg.predict(X_test)
y_pred

array([[10.0494569 ],
       [ 7.43052335],
       [ 6.97152143],
       [24.16378667],
       [12.00215643],
       [ 6.54334645],
       [13.09526331],
       [14.95879164],
       [11.00528358],
       [16.27234553],
       [22.99324688],
       [ 9.12188347],
       [10.33545333],
       [15.39628185],
       [11.60589932],
       [12.11484332],
       [18.60251172],
       [10.81414474],
       [16.07541355],
       [17.22753644],
       [24.2342995 ],
       [ 9.47711838],
       [15.13960412],
       [12.41064749],
       [ 5.67814427],
       [15.22889947],
       [12.21635459],
       [20.94370559],
       [13.28068231],
       [ 9.16578351],
       [13.30285718],
       [21.5770033 ],
       [18.098111  ],
       [21.15572322],
       [ 6.69734039],
       [ 6.15355714],
       [ 7.96280151],
       [13.09426248],
       [14.81032968],
       [ 6.22020075],
       [12.2799744 ],
       [ 9.1817324 ],
       [15.04882696],
       [16.26091437],
       [17.16859664],
       [13.32831849],
       [ 3.69143664],
       [12.43931798],
       [15.87909695],
       [ 8.68626862]])

In [39]:
# Calculating the mean square error
import numpy as np
from sklearn import metrics

print(np.sqrt(metrics.mean_squared_error(Y_test,y_pred)))

2.0031219440955415