In [31]:
import pandas as pd

db_dataset = pd.read_csv('D:\\M_AI\\Data Science with Python\\Assignments\\ML\\2\\pima-indians-diabetes.data', header=None)
db_dataset.head()

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

In [32]:
feature_names =['Number of times pregnant','Plasma glucose concentration','Diastolic blood pressure (mm Hg)','Triceps skin fold thickness (mm)','Insulin','BMI','Diabetes pedigree function','Age','Class Variable']

In [33]:
db_dataset = pd.read_csv('D:\\M_AI\\Data Science with Python\\Assignments\\ML\\2\\pima-indians-diabetes.data', header=None,names=feature_names)
db_dataset.head()

,Number of times pregnant,Plasma glucose concentration,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),Insulin,BMI,Diabetes pedigree function,Age,Class Variable
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [34]:
db_dataset.shape

(768, 9)

In [35]:
#select the features for model building purpose
features = ['Number of times pregnant','Insulin','BMI','Age']

X_feature = db_dataset[features]
Y_target = db_dataset['Class Variable']

In [36]:
X_feature.shape

(768, 4)

In [37]:
Y_target.shape

(768,)

In [38]:
# Splitting the data into training and testing data
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X_feature,Y_target,random_state=0)

In [39]:
#view the shape of train and test data
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(576, 4)
(192, 4)
(576,)
(192,)

In [40]:
# logistic regression estimator
from sklearn.linear_model import LogisticRegression
logReg = LogisticRegression()
logReg.fit(X_train,Y_train)

LogisticRegression()

In [41]:
#prediction of the outcome
y_pred = logReg.predict(X_test)
y_pred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [42]:
# Calculate the accuracy
from sklearn import metrics
import numpy as np
print(metrics.accuracy_score(Y_test,y_pred))

0.6770833333333334

In [43]:
# printing first 25 actual and predicted outcomes
print('actual :', Y_test.values[0:25])
print('predicted :', y_pred[0:25])

actual : [1 0 0 1 0 0 1 1 0 0 1 1 0 0 0 0 1 0 0 0 1 1 0 0 0]
predicted : [0 0 0 0 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0]