In [119]:
import pandas as pd
import string
from nltk.corpus import stopwords

df_sentiment = pd.read_csv('D:\\M_AI\\Data Science with Python\\Assignments\\NLP\\2\\imdb_labelled.txt',sep='\t',names = ['comment','label'])
df_sentiment.head()

                                             comment  label
0  A very, very, very slow-moving, aimless movie ...      0
1  Not sure who was more lost - the flat characte...      0
2  Attempting artiness with black & white and cle...      0
3       Very little music or anything to speak of.        0
4  The best scene in the movie was when Gerardo i...      1

In [120]:
df_sentiment.describe()

            label
count  748.000000
mean     0.516043
std      0.500077
min      0.000000
25%      0.000000
50%      1.000000
75%      1.000000
max      1.000000

In [121]:
df_sentiment.groupby('label').describe()

      comment
        count unique                               top freq
label
0         362    361                Not recommended.      2
1         386    384  Definitely worth checking out.      2

In [122]:
# appending length as coloumn and viewing the details
df_sentiment['length'] = df_sentiment['comment'].apply(len)
df_sentiment

                                               comment  label  length
0    A very, very, very slow-moving, aimless movie ...      0      87
1    Not sure who was more lost - the flat characte...      0      99
2    Attempting artiness with black & white and cle...      0     188
3         Very little music or anything to speak of.        0      44
4    The best scene in the movie was when Gerardo i...      1     108
..                                                 ...    ...     ...
743  I just got bored watching Jessice Lange take h...      0      63
744  Unfortunately, any virtue in this film's produ...      0      92
745                   In a word, it is embarrassing.        0      32
746                               Exceptionally bad!        0      20
747  All in all its an insult to one's intelligence...      0      75

[748 rows x 3 columns]

In [123]:
# defining the function to eliminate stopwords
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()

In [124]:
def message_txt_process(mess):
    no_punc = [char for char in mess if char not in string.punctuation]
    no_punc = ''.join(no_punc)
    return [word for word in no_punc.split() if word.lower() not in stopwords.words('english')]

df_sentiment['comment'].head(5).apply(message_txt_process)

0    [slowmoving, aimless, movie, distressed, drift...
1    [sure, lost, flat, characters, audience, nearl...
2    [Attempting, artiness, black, white, clever, c...
3                     [little, music, anything, speak]
4    [best, scene, movie, Gerardo, trying, find, so...
Name: comment, dtype: object

In [125]:
#  Applying the transformer and fitting in bag of words
import string
from nltk.corpus import stopwords

bow = CountVectorizer(analyzer=message_txt_process).fit(df_sentiment['comment'])
print(len(bow.vocabulary_))

3259

In [126]:
# storing of comments using transform
comment_bow = bow.transform(df_sentiment['comment'])

In [127]:
# import tfidf transform and store it using transform
from sklearn.feature_extraction.text import TfidfTransformer
tfidf_trans = TfidfTransformer().fit(comment_bow)
comment_tfidf = tfidf_trans.transform(comment_bow)

print(comment_tfidf.shape)

(748, 3259)

In [128]:
# import naive bayel model to predict the outcome and compare with the expected outcome
from sklearn.naive_bayes import MultinomialNB
senti_detect_model = MultinomialNB().fit(comment_tfidf,df_sentiment['label'])

MESS = df_sentiment['comment'][2]
bow_for_message = bow.transform([MESS])
tfidf = tfidf_trans.transform(bow_for_message)

print('expected:',df_sentiment['label'][2])
print('predicted:', senti_detect_model.predict(tfidf)[0])

expected: 0
predicted: 0